<%#
 Copyright 2021-2022 zxlhhyccc Wich <zxlhhy@gmail.com>
 https://github.com/zxlhhyccc/luci-app-nps
 Licensed to the public under the Apache License 2.0.
-%>

<%
  local npsHttpPort = luci.model.uci.cursor():get("nps", "config", "web_port");
-%>

<script type="text/javascript">//<![CDATA[

XHR.poll(3, '<%=url([[admin]], [[services]], [[nps]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('nps_status');
			if (data && tb)
			{
				if (data.running)
				{
				var npsAdminURL = ""+ window.location.protocol + "//" + window.location.hostname +":"+ `<%=npsHttpPort%>`;
					tb.innerHTML = '<em><b style=\"color:green\"> <%:Nps%>' + data.bin_version + ' <%:RUNNING%></b></em>'
					+ '<br/><br/>' + ' <b > <%:Click the new page to open Nps%> : <a href="' +npsAdminURL+'"'+' target="_blank">' + npsAdminURL + ' </a></b><br/>'
				}
				else
				{
					tb.innerHTML = '<em><b style=\"color:red\"> <%:Nps%>' + data.bin_version + ' <%:NOT RUNNING%></b></em>';
				}
			}
		}
	);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<legend><%:Running Status%></legend>
	<p id="nps_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
