<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[vlmcsd]], [[run]])%>', null,
	function(x, data) {
		var tb = document.getElementById('vlmcsd_status');
		if (data && tb) {
			if (data.running) {
				var links = '<em><b style=color:green><%:KMS RUNNING%></b></em>';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<em><b style=color:red><%:KMS NOT RUNNING%></b></em>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="vlmcsd_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
